@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;600;800&display=swap');

// Variable Overrides
@import './custom';

// original bootstrap style
@import '~bootstrap/scss/bootstrap';

/*
  SOURCES:
  https://www.mugo.ca/Blog/How-to-customize-Bootstrap-4-using-Sass
  https://getbootstrap.com/docs/4.0/getting-started/theming/
  https://coursetro.com/posts/code/130/Learn-Bootstrap-4-Final-in-2018-with-our-Free-Crash-Course
  https://coursetro.com/posts/design/73/How-to-Customize-Bootstrap-4-with-Sass
*/